.form-input {
  border: none;
}

.form-input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
}

.form-input-error {
  color: #EE3465;
}

.input-error {
  font-size: 10px;
  line-height: 1.21;
  font-weight: 400;
  color: #EE3465;
  margin: 6px 0 6px;
  height: 12px;
  display: none;
}

.input-error_type_movie {
  margin: 0;
}

.input-error_active {
  display: block;
}