.form-input {
  border: none;
}

.form-input:focus {
  outline: 0;
  box-shadow: none;
}

.input-error {
  font-size: 10px;
  line-height: 1.21;
  font-weight: 400;
  color: #EE3465;
  margin: 6px 0 6px;
  height: 12px;
  display: block;
}