.App {
  min-width: 320px;
  max-width: calc(100% - 70px*2);
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
}

@media (max-width: 1279px) {
  .App {
    max-width: calc(100% - 30px*2);
    /* padding: 28px 0 36px; */
  }
}

@media (max-width: 767px) {
  .App {
    max-width: calc(100% - 14px*2);
    /* padding: 28px 0 36px; */
  }
}