.header {
  display: flex;
  width: 100%;
  height: 74px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px red solid;
  box-sizing: border-box;
  padding: 0 70px;
}

.header__main {
  background-color: #DDDEE3;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.33;
  color: #000;
  margin-right: 30px;
  font-weight: 500;
}

.header__link_active {
  font-weight: 550;
}

.header__link_type_signin {
  background-color: #3456F3;
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__navigation-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.header__profile {
  width: 100px;
  height: 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  /* margin: 5px 0;
  padding: 0; */
}

.header__profile-icon {
  padding: 7px;
  background-color: #F4F4F4;
  border-radius: 50%;
}

.header__link-mobile {
  visibility: hidden;
}