.promo__container {
  height: 524px;
  background-color: #DDDEE3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  position: relative;
}

.promo__image {
  width: 320px;
  height: 320px;
  position: absolute;
}

.promo__title {
  font-size: 50px;
  line-height: 1.16;
  max-width: 730px;
  font-weight: 400;
  margin: 0;
  border: 1px red solid;
  letter-spacing: -0.04em;
}

/* @media (max-width: 1279px) {

  .promo__container {
    width: calc(100% - 48px*2);
  }

} */