.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (max-width: 768px) {

.header__navigation {
  display: none;
}

.header__profile {
  display: none;
}

}
