@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');
@import url('./components/App/App.css');
@import url('./components/Footer/Footer.css');
@import url('./components/Header/Header.css');
@import url('./components/Login/Login.css');
@import url('./components/Main/Main.css');
@import url('./components/Main/AboutMe/AboutMe.css');
@import url('./components/Main/AboutProject/AboutProject.css');
@import url('./components/Main/NavTab/NavTab.css');
@import url('./components/Main/Portfolio/Portfolio.css');
@import url('./components/Main/Promo/Promo.css');
@import url('./components/Main/Techs/Techs.css');
@import url('./components/Movies/Movies.css');
@import url('./components/Movies/MoviesCard/MoviesCard.css');
@import url('./components/Movies/FilterCheckbox/FilterCheckbox.css');
@import url('./components/Movies/MoviesCardList/MoviesCardList.css');
@import url('./components/Preloader/Preloader.css');
@import url('./components/Movies/SearchForm/SearchForm.css');
@import url('./components/Header/Navigation/Navigation.css');
@import url('./components/Profile/Profile.css');
@import url('./components/Register/Register.css');
@import url('./components/SavedMovies/SavedMovies.css');
@import url('./components/PageNotFound/PageNotFound.css');
@import url('./components/UserEntry/UserEntry.css');
@import url('./styles/button.css');
@import url('./styles/section.css');

#root {
  
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #FAFAFA;
  color: #000;
}